# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
__pycache__

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.github/workflows/release.yml
.github/workflows/sonarcloud.yml
.github/workflows/gpu-build.yml
sonar-project.properties


# jupyter notebook
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
.cache
.pytest_cache
.ruff_cache/
.tox/

# Sphinx documentation
docs/_build

# ide
# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
.eclipse
.vscode
.spyderproject
.spyproject

# Mac
.DS_Store

# virtual environments
env
.env
env3
.env3
venv
.venv
venv3
.venv3
ENV/
env.bak/
venv.bak/

# vim
*.swp
*.swo
*.orig

# testing
test_models/

# raw imports from dgl_ptm
src/dgl_abm/agent/agent_update.py
src/dgl_abm/agent/movement.py
src/dgl_abm/edge/trade_money.py
src/dgl_abm/edge/edge_update.py
src/dgl_abm/environment/grid_assignment.py
src/dgl_abm/environment/grid_creation.py
src/dgl_abm/environment/grid_update.py
src/dgl_abm/model/data_collection.py
src/dgl_abm/model/step.py
src/dgl_abm/network/global_attachment.py
src/dgl_abm/network/link_deletion.py
src/dgl_abm/network/local_attachment_basic_homophily.py
src/dgl_abm/network/network_creation.py
src/dgl_abm/network/random_edge_noise.py
src/dgl_abm/util/matrix_utils.py
src/dgl_abm/util/network_metrics.py
src/dgl_abm/util/utils.py
tests/test_agent.py
tests/test_agent_interaction.py
tests/test_config.py
tests/test_environment.py
tests/test_model.py
tests/test_network.py
tests/test_util.py

# misc
src/dgl_abm/plugins
notes.txt
